.teamContainer{
    /* margin-top: 10px; */
    /* background-color: pink; */
    /* height: 400px; */
    width: 70%;
    margin: auto;
    border-radius: 20px;
    padding: 30px;
    max-width: 800px;
    /* margin: 5px; */
}


.backButtonContainer{
    position: fixed;
    z-index: 2;
    bottom: 2%;
    right: 2%;
}

.logoAboutUs{
width: 99%;
/* width: 200px; */
/* margin-left: auto;
    margin-right: auto; */
/* position: relative; */
/* margin-left: 41%;
margin-right: auto; */
}

.logoContainerAboutUs{
    background-color: white;
    width: 310px;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 10px;
    border-radius: 10px;
}

.logoAboutUs:hover{
    width: 100%;
    transition-duration: 0.15s;
   
}

.logoContainerAboutUs:hover{
    background-color: rgba(255, 255, 255, 0.75);
    width: 315px;
}
.topNav{
    /* font-family: "Roboto", sans-serif;
    font-weight: 500;  
    font-style: normal; */
    font-weight: 500;
}

body{
    background-color: rgb(244, 246, 255);
}

#title{
    text-align: center;
    font-size: 50px;
    
}

.theTeamTitle{
    font-size: 80px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;
}

.theTeamTitle{
    text-align: center;
}

.teamMember{
    margin: 10px;
    margin-top: 50px;
}


.memberText{
    text-align: center;
    /* display: inline-block; */
    /* vertical-align: middle; */
    /* margin-top: 15%; */
    top: 45%;
    position: relative;
}

.imageContainer{
    padding-top: 0;
}



.memberImage{
    /* margin: auto; */
    /* margin: 0; */
    /* margin-left: auto; */
    /* margin-right: auto; */

    /* border-style: dashed; */
   

    aspect-ratio: cos(30deg);
    clip-path: polygon(-50% 50%,50% 100%,150% 50%,50% 0);
    /* box-shadow: 5px 10px #888888; */

}


.topNavBar, .bottomNavBar{
    background-image: linear-gradient(to bottom, #dfe784, #afec9c, #7fedbd, #57eade, #4ee3f9);
}

/* .teamMemberContainer{
    padding: 10px;
} */

.cardContainer{
    max-height: 300px;
    /* top: 80%;
    position: relative; */
    margin: 20px;
    margin-top: 60px;
    
}



img{
    /* border-radius: 10px; */
}

/* .this{
    width: 0;
    border-bottom: 30px solid #6C6;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
    
    width: 104px;
    height: 60px;
    background-color: #6C6;
    
    width: 0;
    border-top: 30px solid #6C6;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
} */

@keyframes bounceIn {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    20% {
      opacity: 1;
    }
    40% {
      transform: scale(1.15)
    }
    70% {
      transform: scale(.9)
    }
    100% {
      transform: scale(1);
    }
  }


#titleGitHub{
    font-size: 100px;
    text-align: center;
}

#titleGitHub:hover{
    cursor: pointer;
}


#backButton{
    width: 150px;
    height: auto;
}

