
body {
    min-height: 100vh;
    margin: 0px auto;
    padding: 10px;
    background-image: linear-gradient(to bottom, #dfe784, #afec9c, #7fedbd, #57eade, #4ee3f9);  
}

h1 {
    display: inline;
}

.button.is-ghost {
    word-break:break-word;
    white-space: wrap;
}

div card-content {
    padding: 15px !important;
}

#wine-info {
    width: 850px;
    margin: auto;
}

.userName{
    font-size: 20px;
    float: left;
}

.github-logo {
    font-size: 65px;
}

.navbar-menu {
    align-items: center !important;
    justify-content: center !important;
}

.navbar{
    border-radius: 10px;
}
.navbar-burger {
    color: #7fedbd;
}

.welcomeTitle{
    font-size: 2vw;    
    /* position: absolute; */
    left: 35%;
    font-weight: 400;
}

#modal-h3 {
    display: inline-block;
}
.modal-content {
    width: 400px;
}

.footer {
    min-height: 75px;
    padding: 10px;
    left: 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    overflow: hidden;
}

@media screen and (max-width: 1024px) {
    .navbar {
        display: block;
    }

    .github-logo {
        font-size: 40px;
    }
}

@media screen and (min-width:1600px){
    .welcomeTitle{
        top:10px;
    }
}



