
body {
    min-height: 100vh;
    margin: 0px auto;
    padding: 10px;
    background-image: linear-gradient(to bottom, #dfe784, #afec9c, #7fedbd, #57eade, #4ee3f9);
}

.button.is-ghost {
    word-break:break-all;
    white-space: wrap;
}

div card-content {
    padding: 15px !important;
}

#wine-info {
    width: 650px;
    margin: auto;
}

.footer{
    padding: 10px;  
    left: 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    overflow: hidden;
}

.userName{
    text-decoration: underline;
}


