
body {
    min-height: 100vh;
    margin: 0px auto;
    padding: 10px;
    color:antiquewhite;
    background-image: linear-gradient(to bottom, #660033, #830740, #a0114b, #bf1c56, #de2860);
}

h1 {
    display: inline;
    font-style: italic;
    color: antiquewhite;
}

label {
    color: antiquewhite !important;
}

.button.is-ghost {
    word-break:break-word;
    white-space: wrap;
}

div card-content {
    padding: 15px !important;
}

#wine-info {
    width: 850px;
    margin: auto;
}

.userName{
    font-size: 20px;
    float: left;
}

.github-logo {
    font-size: 65px;
}

.navbar-menu {
    align-items: center !important;
    justify-content: center !important;
}

.navbar{
    border-radius: 10px;
}
.navbar-burger {
    color: #7fedbd;
}

.welcomeTitle{
    font-size: 2vw;    
    /* position: absolute; */
    left: 35%;
    font-weight: 400;

}

#modal-h3 {
    display: inline-block;
}
.modal-content {
    width: 400px;
}

.footer {
    min-height: 75px;
    padding: 10px;
    left: 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    overflow: hidden;
}

@media screen and (max-width: 1024px) {
    .navbar {
        display: block;
    }

    .github-logo {
        font-size: 40px;
    }
}

@media screen and (min-width:1600px){
    .welcomeTitle{
        top:10px;
    }
}


.aboutButton{
    height: 100%;
    margin-top: 2px;
    margin-right: 2px;
    padding: 1px;
}

.wineSearchButton{
    margin-top: 10px;
    padding-top: 10px;
}


.button{
    background-color:#556B2F;
    color:white;
}

#show-username{
    color: #F5F5DC;
}


#signup, #logout, #aboutButton{
    background-color: #556B2F;
    border-color: #556B2F;
    color: white;
}

#signup, #logout{
    margin-top: 10px;
}


.message-header{
    background-color: white;
}

.message-body{
    background-color:   #F5F5DC;
}

.modal, 
.modal label{
    color:black !important; 
}



